
* {
  margin: 0;
  padding: 0;
}
#content {
	background-color: #7d6866;
	width: 405px;
	margin: 0 auto;
	padding-bottom: 5px;
}
.box {
	display: inline-block;
	background-color: #988888;
	margin: 5px 0 0 5px;
	width: 95px;
	height: 95px;
	text-align: center;
	position: relative;
}

.row {
	width: 405px;
	height: 100px;
}
p {
    padding: 25px 0;
    position: absolute;
    color: #333333;
    text-align: center;
    font-size: 45px;
    width: 100%;
    height: 45px;
}

#key {
	text-align: center;
}
.operate_btn {
	width: 40px;
	height: 40px;
	background-color: #968A8A;
	color: #000000;
}

p#num2{
	background-color: #E45F30; 
}
p#num4 {
	background-color: #F3B48E; 
}
p#num8 {
	background-color: #F28A4A; 
}
p#num16 {
	background-color: #C45F30; 
}
p#num32 {
	background-color: #D45F30; 
}
p#num64 {
	background-color: #FDA654;
}
p#num128 {
	background-color: #945F30; 
}
p#num256 {
	background-color: #D45F30; 
}
p#num512 {
	background-color: #F37A28; 
}
p#num1024 {
	background-color: #C37A28; 
}
p#num2048 {
	background-color: #D37A28; 
}
p#num4096 {
	background-color: #A37A28; 
}



